html {
  margin: 0;
  padding: 0;
  background: #13262f;
}
::-webkit-scrollbar {
  display: none;
  width: 8px;
  color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* project animation */
.dots {
  border-radius: 50%;
  font-size: 20px;
}
#dot1 {
  animation: dot-animate 2s infinite ease-in-out 1s;
}
#dot2 {
  animation: dot-animate 2s infinite ease-in-out 1.5s;
}
#dot3 {
  animation: dot-animate 2s infinite ease-in-out 2s;
}

@keyframes dot-animate {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.0;
  }
}
